* {
  box-sizing: border-box;
}

.gaming-videos-app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #f9f9f9;
}

.app-container {
  display: flex;
}

.gaming-videos-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.gaming-dark {
  background-color: #0f0f0f;
}

.game-video-details-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.trending-icon-container {
  display: flex;
  width: 100%;
  padding: 30px;
  align-self: flex-start;
  background-color: #f1f1f1;
}
.gaming-icon-dark {
  background-color: #181818;
}

.list-container {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .list-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
}
